.element--anchor {

  position: relative;

  a.anchor {
    display: inline-block;
    font-size: 0;
    position: absolute;
    top: -($header-height-s);
    height: $header-height-s;
    @if $header-height-m != $header-height-s {
      @media (min-width: $m) {
        top: -($header-height-m);
        height: $header-height-m;
      }
    }
    @if $header-height-l != $header-height-s {
      @media (min-width: $l) {
        top: -($header-height-l);
        height: $header-height-l;
      }
    }
    width: 100%;
    left: 0;
    pointer-events: none;
  }

}
