$element--assets-breadcrumb-gap-s: $gap-s !default;
$element--assets-breadcrumb-gap-m: $gap-m !default;
$element--assets-breadcrumb-gap-l: $gap-l !default;

.element--assets {

  * {
    box-sizing: border-box;
  }

  .grid-container {
    margin: 0;
    @media (min-width: $m) {
      margin: 0 0 $gap-m 0;
    }
    @if $gap-l != $gap-m {
      @media (min-width: $l) {
        margin: 0 0 $gap-l 0;
      }
    }
    align-items: end;
  }

  .grid-container > div {
    align-self: end;
  }

  figure {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background: $color-grey-lighter;
    margin-bottom: 0;
  }

  figure.type--image {
    height: auto;
    padding-bottom: 0;
    background: transparent;
  }

  figure img {
    margin: 33.33333%;
    width: 33.33333%;
  }

  figure.type--image img {
    margin: 0;
    padding: 2%;
    width: 100%;
    background: $color-grey-lighter;
  }

  figure.type--folder:before {
    content: "";
    position: absolute;
    background: url(/bundles/kitt3npimcoreelements/assets/icons/folder.svg) no-repeat center center;
    background-size: 100% 100%;
    height: 0; padding-bottom: 33.33333%;
    margin: 33.33333%;
    width: 33.33333%;
  }

  figcaption {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  figcaption > span {
    line-height: 1;
    font-weight: $font-weight-regular;
    display: block;
    font-size: 1.1rem;
    margin: ($gap-s/1.71) 0 0 0;
    @if $gap-m != $gap-s {
      @media (min-width: $m) {
        margin: ($gap-m/1.71) 0 0 0;
      }
    }
    @if $gap-l != $gap-s {
      @media (min-width: $l) {
        margin: ($gap-l/1.71) 0 0 0;
      }
    }
  }

  .icon {
    width: 100%;
      position: relative;
      height: 0;
      padding-bottom: 100%;
      background: $color-grey-lighter;
  }

  a.asset,
  label.asset {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  a.download {
    position: absolute;
    bottom: 0.75rem;
    right: 0;
    text-indent: 20000em;
    background: url(/bundles/kitt3npimcoreelements/assets/icons/download.svg) no-repeat center center;
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
  }

  a {
    text-decoration: none;
    color: $color-black;
  }

  .breadcrumb {

    padding: $element--assets-breadcrumb-gap-s 0;
    @if $element--assets-breadcrumb-gap-m != $element--assets-breadcrumb-gap-s {
      @media (min-width: $m) {
        padding: $element--assets-breadcrumb-gap-m 0;
      }
    }
    @if $element--assets-breadcrumb-gap-l != $element--assets-breadcrumb-gap-s {
      @media (min-width: $l) {
        padding: $element--assets-breadcrumb-gap-l 0;
      }
    }

    a, span {
      &:after {
        content: "/";
        position: relative;
      }
    }

    span {
      font-weight: $font-weight-bold;
    }

  }

}