$element--asset-download-li-padding: 1.5rem !default;
$element--asset-download-li-margin-bottom: 1rem !default;

.element--asset-download {

  * {
    box-sizing: border-box;
  }

  ul li {
    margin-bottom: $element--asset-download-li-margin-bottom;
    position: relative;
    padding: $element--asset-download-li-padding;
    background: $color-grey-lighter;
    cursor: pointer;
  }

  strong {
    display: block;
    @media (min-width: $m) {
      display: inline;
    }
  }

  span.size {
    position: relative;
    @media (min-width: $m) {
      position: absolute;
      right: 5rem;
    }
    color: $color-grey;
  }

  a.download {
    position: absolute;
    right: $element--asset-download-li-padding;

    //bottom: 0.75rem;
    text-indent: 20000em;
    background: url(/bundles/kitt3npimcoreelements/assets/icons/download.svg) no-repeat center center;
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
  }

}