.grid-container {

  $column-gap-s: $gap-s !default;
  $row-gap-s: $gap-s !default;
  $column-gap-m: $gap-m !default;
  $row-gap-m: $gap-m !default; // TODO Use $row-gap-m
  $column-gap-l: $gap-l !default;
  $row-gap-l: $gap-l !default; // Todo Use $row-gap-l

  max-width: 100%;
  @media (min-width: $l) {
    max-width: 1000px;
  }

  .column {
     overflow: hidden;
     min-width: 0;
   }
  .column {
    h1, h2, h3, h4, h5, h6, p {
      text-overflow: ellipsis;
      overflow: hidden;
      //white-space: nowrap;
      max-width: 100%;
    }
  }

  display: block\0/ !important; /* IE 8-9 */
  @media (min-width: $s) {
    display: -ms-grid;
  }
  display: grid;
  grid-column-gap: $column-gap-s;
  @if $column-gap-m != $column-gap-s {
    @media (min-width: $m) {
      grid-column-gap: $column-gap-m;
    }
  }
  @if $column-gap-l != $column-gap-s {
    @media (min-width: $l) {
      grid-column-gap: $column-gap-l;
    }
  }
  grid-row-gap: 0; // maybe needed later?
  align-items: stretch;
  margin: 0 10vw;

  &.c12 {
    @media (min-width: $s) {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr;
      //min-height: 200px !important;
      //@media (min-width: $s) {
      //  > div {
      //    width: 100%;
      //  }
      //}

      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
      }
    }
  }

  &.c10 {
    @media (min-width: $s) {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr;
      //min-height: 200px !important;
      //@media (min-width: $s) {
      //  > div {
      //    width: 100%;
      //  }
      //}

      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
      }

      > div > * {
        width: (100*10/12) *1%;
      }
    }
    ////min-height: 200px !important;
    //@media (min-width: $s) {
    //  grid-template-columns: 8fr 4fr;
    //  -ms-grid-columns: 8fr $column-gap-s 4fr;
    //  > div {
    //
    //  }
    //}
  }

  &.c8 {
    @media (min-width: $s) {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr;
      //min-height: 200px !important;
      //@media (min-width: $s) {
      //  > div {
      //    width: 100%;
      //  }
      //}

      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
      }

      > div > * {
        width: (100*8/12) *1%;
      }
    }
    ////min-height: 200px !important;
    //@media (min-width: $s) {
    //  > div {
    //    width: (100*8/12) *1%;
    //  }
    //}
  }

  &.c6-c6 {
    @media (min-width: $s) {
      -ms-grid-columns: 6fr $column-gap-s 6fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 6fr $column-gap-m 6fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 6fr $column-gap-l 6fr;
        }
      }
      grid-template-columns: 6fr 6fr;
    }
  }

  &.c7-c5 {
    @media (min-width: $s) {
      -ms-grid-columns: 7fr $column-gap-s 5fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          grid-column-gap: $column-gap-m;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          grid-column-gap: $column-gap-l;
        }
      }
      grid-template-columns: 7fr 5fr;
    }
  }
  &.c5-c7 {
    @media (min-width: $s) {
      -ms-grid-columns: 5fr $column-gap-s 7fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          grid-column-gap: $column-gap-m;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          grid-column-gap: $column-gap-l;
        }
      }
      grid-template-columns: 5fr 7fr;
    }
  }

  &.c8-c4 {
    @media (min-width: $s) {
      -ms-grid-columns: 8fr $column-gap-s 4fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          grid-column-gap: $column-gap-m;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          grid-column-gap: $column-gap-l;
        }
      }
      grid-template-columns: 8fr 4fr;
    }
  }
  &.c4-c8 {
    @media (min-width: $s) {
      -ms-grid-columns: 4fr $column-gap-s 8fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 4fr $column-gap-m 8fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 4fr $column-gap-l 8fr;
        }
      }
      grid-template-columns: 4fr 8fr;
    }
  }

  &.c9-c3 {
    @media (min-width: $s) {
      -ms-grid-columns: 9fr $column-gap-s 3fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 9fr $column-gap-m 3fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 9fr $column-gap-l 3fr;
        }
      }
      grid-template-columns: 9fr 3fr;
    }
  }
  &.c3-c9 {
    @media (min-width: $s) {
      -ms-grid-columns: 3fr $column-gap-s 9fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 3fr $column-gap-m 9fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 3fr $column-gap-l 9fr;
        }
      }
      grid-template-columns: 3fr 9fr;
    }
  }

  &.c6-c6,
  &.c7-c5,
  &.c5-c7,
  &.c8-c4,
  &.c4-c8,
  &.c9-c3,
  &.c3-c9 {
    @media (min-width: $s) {
      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
        &:nth-child(2) {
          -ms-grid-column:3;
        }
      }
    }
  }

  &.c4-c4-c4 {
    @media (min-width: $s) {
      -ms-grid-columns: 4fr $column-gap-s 4fr $column-gap-s 4fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 4fr $column-gap-m 4fr $column-gap-m 4fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 4fr $column-gap-l 4fr $column-gap-l 4fr;
        }
      }
      grid-template-columns: 4fr 4fr 4fr;
    }
  }
  &.c6-c3-c3 {
    @media (min-width: $s) {
      -ms-grid-columns: 6fr $column-gap-s 3fr $column-gap-s 3fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 6fr $column-gap-m 3fr $column-gap-m 3fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 6fr $column-gap-l 3fr $column-gap-l 3fr;
        }
      }
      grid-template-columns: 6fr 3fr 3fr;
    }
  }
  &.c3-c6-c3 {
    @media (min-width: $s) {
      -ms-grid-columns: 3fr $column-gap-s 6fr $column-gap-s 3fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 3fr $column-gap-m 6fr $column-gap-m 3fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 3fr $column-gap-l 6fr $column-gap-l 3fr;
        }
      }
      grid-template-columns: 3fr 6fr 3fr;
    }
  }
  &.c3-c3-c6 {
    @media (min-width: $s) {
      -ms-grid-columns: 3fr $column-gap-s 3fr $column-gap-s 6fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 3fr $column-gap-m 3fr $column-gap-m 6fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 3fr $column-gap-l 3fr $column-gap-l 6fr;
        }
      }
      grid-template-columns: 3fr 3fr 6fr;
    }
  }

  &.c4-c4-c4,
  &.c6-c3-c3,
  &.c3-c6-c3,
  &.c3-c3-c6 {
    @media (min-width: $s) {
      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
        &:nth-child(2) {
          -ms-grid-column:3;
        }
        &:nth-child(3) {
          -ms-grid-column:5;
        }
      }
    }
  }

  &.c3-c3-c3-c3 {
    @media (min-width: $s) {
      -ms-grid-columns: 6fr $column-gap-s 6fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 6fr $column-gap-m 6fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 6fr $column-gap-l 6fr;
        }
      }
      grid-template-columns: 6fr 6fr;
      @media (min-width: $s) {
        > div {
          -ms-grid-row:1;
          -ms-grid-column:1;
          &:nth-child(2) {
            -ms-grid-column:3;
          }
        }
      }
    }
    @media (min-width: $m) {
      -ms-grid-columns: 3fr $column-gap-s 3fr $column-gap-s 3fr $column-gap-s 3fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 3fr $column-gap-m 3fr $column-gap-m 3fr $column-gap-m 3fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 3fr $column-gap-l 3fr $column-gap-l 3fr $column-gap-l 3fr;
        }
      }
      grid-template-columns: 3fr 3fr 3fr 3fr;
      @media (min-width: $s) {
        > div {
          -ms-grid-row:1;
          -ms-grid-column:1;
          &:nth-child(2) {
            -ms-grid-column:3;
          }
          &:nth-child(3) {
            -ms-grid-column:5;
          }
          &:nth-child(4) {
            -ms-grid-column:7;
          }
        }
      }
    }
  }

  &.c1-c1-c1-c1-c1 {
    @media (min-width: $s) {
      -ms-grid-columns: 1fr $column-gap-s 1fr $column-gap-s 1fr $column-gap-s 1fr $column-gap-s 1fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 1fr $column-gap-m 1fr $column-gap-m 1fr $column-gap-m 1fr $column-gap-m 1fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 1fr $column-gap-l 1fr $column-gap-l 1fr $column-gap-l 1fr $column-gap-l 1fr;
        }
      }
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
        &:nth-child(2) {
          -ms-grid-column:3;
        }
        &:nth-child(3) {
          -ms-grid-column:5;
        }
        &:nth-child(4) {
          -ms-grid-column:7;
        }
        &:nth-child(5) {
          -ms-grid-column:9;
        }
      }
    }
  }

  &.c2-c2-c2-c2-c2-c2 {
    @media (min-width: $s) {
      -ms-grid-columns: 4fr $column-gap-s 4fr $column-gap-s 4fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 4fr $column-gap-m 4fr $column-gap-m 4fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 4fr $column-gap-l 4fr $column-gap-l 4fr;
        }
      }
      grid-template-columns: 4fr 4fr 4fr;
      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
        &:nth-child(2) {
          -ms-grid-column:3;
        }
        &:nth-child(3) {
          -ms-grid-column:5;
        }
      }
    }
    @media (min-width: $m) {
      -ms-grid-columns: 2fr $column-gap-s 2fr $column-gap-s 2fr $column-gap-s 2fr $column-gap-s 2fr $column-gap-s 2fr;
      @if $column-gap-m != $column-gap-s {
        @media (min-width: $m) {
          -ms-grid-columns: 2fr $column-gap-m 2fr $column-gap-m 2fr $column-gap-m 2fr $column-gap-m 2fr $column-gap-m 2fr;
        }
      }
      @if $column-gap-l != $column-gap-s {
        @media (min-width: $l) {
          -ms-grid-columns: 2fr $column-gap-l 2fr $column-gap-l 2fr $column-gap-l 2fr $column-gap-l 2fr $column-gap-l 2fr;
        }
      }
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
      > div {
        -ms-grid-row:1;
        -ms-grid-column:1;
        &:nth-child(2) {
          -ms-grid-column:3;
        }
        &:nth-child(3) {
          -ms-grid-column:5;
        }
        &:nth-child(4) {
          -ms-grid-column:7;
        }
        &:nth-child(5) {
          -ms-grid-column:9;
        }
        &:nth-child(6) {
          -ms-grid-column:11;
        }
      }
    }
  }

  & > div {
    //border: dashed 1px red;
    align-self: stretch;
    position: relative;
  }

}

//
// IE 10 and 11
//
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-container {
    display: block !important;
  }
}
@media screen and (min-width: $s) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-container {
    display: -ms-grid !important;
  }
}