.element--color {

  .colorSquare {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: $gap-s;
    @if $gap-m != $gap-s {
      @media (min-width: $m) {
        margin-bottom: $gap-m;
      }
    }
    @if $gap-l != $gap-s {
      @media (min-width: $l) {
        margin-bottom: $gap-l;
      }
    }
  }

  h3 {
    margin-bottom: ($gap-s/3);
    @if $gap-m != $gap-s {
      @media (min-width: $m) {
        margin-bottom: $gap-m/3;
      }
    }
    @if $gap-l != $gap-s {
      @media (min-width: $l) {
        margin-bottom: $gap-l/3;
      }
    }
  }

}

