.element--icons {

  .grid-container {
    margin: 0;
  }

  figure {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background: $color-grey-lighter;
  }

  figure img {
    margin: 33.33333%;
    width: 33.33333%;
  }

  figcaption {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    font-weight: $font-weight-bold;
  }

  .icon {
    width: 100%;
      position: relative;
      height: 0;
      padding-bottom: 100%;
      background: $color-grey-lighter;
  }

}