.element--image {
  position: relative;
  $color-nogo: $color-red !default;
  &.nogo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    background:
      linear-gradient(to top left,
              transparent 0%,
              transparent calc(50% - 3px),
              $color-nogo 50%,
              transparent calc(50% + 3px),
              transparent 100%),
      linear-gradient(to top right,
              transparent 0%,
              transparent calc(50% - 3px),
              $color-nogo 50%,
              transparent calc(50% + 3px),
              transparent 100%);
  }
}

//body.bIOS-1 img.opacity_0 {
//  display:none;
//}
//
//body.bIOS-1 img.opacity_0.fadeIn {
//  display: block;
//}

