.grid-container.c12 {

  .element--picture-and-text {

    .element--wysiwyg {
      width: 100%;
      @media (min-width: $m) {
        width: 8/12*100%;
      }
    }

  }

}

.element--picture-and-text {

  figure {
    margin-bottom: 2/3*$margin-bottom-s;
    @if $margin-bottom-m != $margin-bottom-s {
      @media (min-width: $m) {
        margin-bottom: 2/3*$margin-bottom-m;
      }
    }
    @if $margin-bottom-l != $margin-bottom-s {
      @media (min-width: $l) {
        margin-bottom: 2/3*$margin-bottom-l;
      }
    }
  }

}
