.element--picture {
  .tx-kitt3n-image {
    width: 100%;

    position: relative;
    overflow: hidden;
    z-index: 2;

    .aR {
      display: inline-block;
      width: 100%;
      position: relative;
      height: 0;
      transition: height 1s, opacity 2s;

      &.aR--2-1_1 {
        padding-bottom: 100%;
      }
      &.aR--2-4_3 {
        padding-bottom: (100*3/4) * 1%;
      }
      &.aR--2-3_2 {
        padding-bottom: (100*2/3) * 1%;
      }
      &.aR--2-2_1 {
        padding-bottom: (100*1/2) * 1%;
      }
      &.aR--2-16_9 {
        padding-bottom: (100*9/16) * 1%;
      }
      &.aR--2-21_9 {
        padding-bottom: (100*9/21) * 1%;
      }
      &.aR--2-21_5 {
        padding-bottom: (100*5/21) * 1%;
      }
      &.aR--2-2_3 {
        padding-bottom: (100*3/2) * 1%;
      }
      &.aR--2-3_4 {
        padding-bottom: (100*4/3) * 1%;
      }

      @media (min-width: $m) {
        &.aR--1-1_1 {
          padding-bottom: 100%;
        }
        &.aR--1-4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--1-3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
        &.aR--1-2_1 {
          padding-bottom: (100*1/2) * 1%;
        }
        &.aR--1-16_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--1-21_9 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--1-21_5 {
          padding-bottom: (100*5/21) * 1%;
        }
        &.aR--1-2_3 {
          padding-bottom: (100*3/2) * 1%;
        }
        &.aR--1-3_4 {
          padding-bottom: (100*4/3) * 1%;
        }
      }

      @media (min-width: $l) {
        &.aR--0-1_1 {
          padding-bottom: 100%;
        }
        &.aR--0-4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--0-3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
        &.aR--0-2_1 {
          padding-bottom: (100*1/2) * 1%;
        }
        &.aR--0-16_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--0-21_9 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--0-21_5 {
          padding-bottom: (100*5/21) * 1%;
        }
        &.aR--0-2_3 {
          padding-bottom: (100*3/2) * 1%;
        }
        &.aR--0-3_4 {
          padding-bottom: (100*4/3) * 1%;
        }
      }

      img {
        position: absolute;

        width: auto;
        @supports (object-fit: cover){
          object-fit: cover;
          width: 100%;
        }
        height: 100%;
        max-width: 100%;
        @media (min-width: $s) {
          max-width: unset;
        }
      }

      img:not([src]) {
        visibility: hidden;
      }

    }

    //.lazy {
    //  opacity: 0.05;
    //}
    //
    //.lazy.loaded {
    //  opacity: 1;
    //  transition: opacity 2s;
    //}

  }

  position: relative;
  $color-nogo: $color-red !default;
  &.nogo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    background:
      linear-gradient(to top left,
              transparent 0%,
              transparent calc(50% - 3px),
              $color-nogo 50%,
              transparent calc(50% + 3px),
              transparent 100%),
      linear-gradient(to top right,
              transparent 0%,
              transparent calc(50% - 3px),
              $color-nogo 50%,
              transparent calc(50% + 3px),
              transparent 100%);
  }
}

//body.bIOS-1 img.opacity_0 {
//  display:none;
//}
//
//body.bIOS-1 img.opacity_0.fadeIn {
//  display: block;
//}

