.wrapper {
  position: relative;
}

.wrapper.padding_0.padding--s {
  padding-top: $padding-s--s;
  @if $padding-m--s != $padding-s--s {
    @media (min-width: $m) {
      padding-top: $padding-m--s;
    }
  }
  @if $padding-l--s != $padding-s--s {
    @media (min-width: $l) {
      padding-top: $padding-l--s;
    }
  }
}
.wrapper.padding_1.padding--s {
  padding-right: $padding-s--s;
  @if $padding-m--s != $padding-s--s {
    @media (min-width: $m) {
      padding-right: $padding-m--s;
    }
  }
  @if $padding-l--s != $padding-s--s {
    @media (min-width: $l) {
      padding-right: $padding-l--s;
    }
  }
}
.wrapper.padding_2.padding--s {
  padding-bottom: $padding-s--s;
  @if $padding-m--s != $padding-s--s {
    @media (min-width: $m) {
      padding-bottom: $padding-m--s;
    }
  }
  @if $padding-l--s != $padding-s--s {
    @media (min-width: $l) {
      padding-bottom: $padding-l--s;
    }
  }
}
.wrapper.padding_3.padding--s {
  padding-left: $padding-s--s;
  @if $padding-m--s != $padding-s--s {
    @media (min-width: $m) {
      padding-left: $padding-m--s;
    }
  }
  @if $padding-l--s != $padding-s--s {
    @media (min-width: $l) {
      padding-left: $padding-l--s;
    }
  }
}

.wrapper.padding_0.padding--m {
  padding-top: $padding-s--m;
  @if $padding-m--m != $padding-s--m {
    @media (min-width: $m) {
      padding-top: $padding-m--m;
    }
  }
  @if $padding-l--m != $padding-s--m {
    @media (min-width: $l) {
      padding-top: $padding-l--m;
    }
  }
}
.wrapper.padding_1.padding--m {
  padding-right: $padding-s--m;
  @if $padding-m--m != $padding-s--m {
    @media (min-width: $m) {
      padding-right: $padding-m--m;
    }
  }
  @if $padding-l--m != $padding-s--m {
    @media (min-width: $l) {
      padding-right: $padding-l--m;
    }
  }
}
.wrapper.padding_2.padding--m {
  padding-bottom: $padding-s--m;
  @if $padding-m--m != $padding-s--m {
    @media (min-width: $m) {
      padding-bottom: $padding-m--m;
    }
  }
  @if $padding-l--m != $padding-s--m {
    @media (min-width: $l) {
      padding-bottom: $padding-l--m;
    }
  }
}
.wrapper.padding_3.padding--m {
  padding-left: $padding-s--m;
  @if $padding-m--m != $padding-s--m {
    @media (min-width: $m) {
      padding-left: $padding-m--m;
    }
  }
  @if $padding-l--m != $padding-s--m {
    @media (min-width: $l) {
      padding-left: $padding-l--m;
    }
  }
}

.wrapper.padding_0.padding--l {
  padding-top: $padding-s--l;
  @if $padding-m--l != $padding-s--l {
    @media (min-width: $m) {
      padding-top: $padding-m--l;
    }
  }
  @if $padding-l--l != $padding-s--l {
    @media (min-width: $l) {
      padding-top: $padding-l--l;
    }
  }
}
.wrapper.padding_1.padding--l {
  padding-right: $padding-s--l;
  @if $padding-m--l != $padding-s--l {
    @media (min-width: $m) {
      padding-right: $padding-m--l;
    }
  }
  @if $padding-l--l != $padding-s--l {
    @media (min-width: $l) {
      padding-right: $padding-l--l;
    }
  }
}
.wrapper.padding_2.padding--l {
  padding-bottom: $padding-s--l;
  @if $padding-m--l != $padding-s--l {
    @media (min-width: $m) {
      padding-bottom: $padding-m--l;
    }
  }
  @if $padding-l--l != $padding-s--l {
    @media (min-width: $l) {
      padding-bottom: $padding-l--l;
    }
  }
}
.wrapper.padding_3.padding--l {
  padding-left: $padding-s--l;
  @if $padding-m--l != $padding-s--l {
    @media (min-width: $m) {
      padding-left: $padding-m--l;
    }
  }
  @if $padding-l--l != $padding-s--l {
    @media (min-width: $l) {
      padding-left: $padding-l--l;
    }
  }
}


.wrapper.margin_2.margin--s {
  margin-bottom: $margin-s--s;
  @if $margin-m--s != $margin-s--s {
    @media (min-width: $m) {
      margin-bottom: $margin-m--s;
    }
  }
  @if $margin-l--s != $margin-s--s {
    @media (min-width: $l) {
      margin-bottom: $margin-l--s;
    }
  }
}
.wrapper.margin_2.margin--m {
  margin-bottom: $margin-s--m;
  @if $margin-m--m != $margin-s--m {
    @media (min-width: $m) {
      margin-bottom: $margin-m--m;
    }
  }
  @if $margin-l--m != $margin-s--m {
    @media (min-width: $l) {
      margin-bottom: $margin-l--m;
    }
  }
}
.wrapper.margin_2.margin--l {
  margin-bottom: $margin-s--l;
  @if $margin-m--l != $margin-s--l {
    @media (min-width: $m) {
      margin-bottom: $margin-m--l;
    }
  }
  @if $margin-l--l != $margin-s--l {
    @media (min-width: $l) {
      margin-bottom: $margin-l--l;
    }
  }
}