//
// Base
//
$base: 10px !default;

//
// Media queries
//
$s: 768px !default;
$m: 992px !default;
$l: 1200px !default;

//
// Margin bottom
//
$margin-bottom-s: 3rem;
$margin-bottom-m: 3rem;
$margin-bottom-l: 3rem;

//
// Margin
//
$margin-s--s: 2rem !default;
$margin-m--s: 2rem !default;
$margin-l--s: 2rem !default;

$margin-s--m: 4rem !default;
$margin-m--m: 4rem !default;
$margin-l--m: 4rem !default;

$margin-s--l: 6rem !default;
$margin-m--l: 6rem !default;
$margin-l--l: 6rem !default;

//
// Padding
//
$padding-s--s: 2em !default;
$padding-m--s: 2em !default;
$padding-l--s: 2em !default;

$padding-s--m: 4rem !default;
$padding-m--m: 4rem !default;
$padding-l--m: 4rem !default;

$padding-s--l: 6rem !default;
$padding-m--l: 6rem !default;
$padding-l--l: 6rem !default;