.edit.element--anchor {

  hr {
    margin: 0;
  }

  span {
    position: absolute;
    width: 35px;
    height: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  .pimcore_tag_input {
    margin-left: 35px;
  }

}