.edit.wrapper {

  .grid-container {
    & > div {
      border-left: dashed 1px lighten( $theme-color, 75% );
      border-right: dashed 1px lighten( $theme-color, 75% );
    }

    .column {
      overflow: visible !important;
      min-width: 0;
    }
    .column {
      h1, h2, h3, h4, h5, h6, p {
        text-overflow: ellipsis;
        overflow: hidden;
        //white-space: nowrap;
        max-width: 100%;
      }
    }

  }

}

.edit.column {
  border: dashed 1px #ebebeb;
  position: relative
}

.edit.padding_size .x-form-text-default {
  color: rgb(64, 64, 64);
  background-color: rgba(255, 235, 51, 0.9);
}

.edit.margin {
  background: lighten( $theme-color, 20% );
  width: 40px;
  height: 20px;
  border: solid 1px lighten( $theme-color, 85% );
  z-index: 9999;
}

.edit.margin.margin_2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 0 5px 0 0;
  border-bottom: none;
  /*margin-left: -10px;*/
}

.edit.margin_size .x-form-text-default {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.9);
}

//.edit.wrapper.padding_0 {
//  border-top: dashed 1px $theme-color;
//}
//.edit.wrapper.padding_1 {
//  border-right: dashed 1px $theme-color;
//}
//.edit.wrapper.padding_2 {
//  border-bottom: dashed 1px $theme-color;
//}
//.edit.wrapper.padding_3 {
//  border-left: dashed 1px $theme-color;
//}

//.edit.wrapper.margin_2:after {
//  content: '';
//  position: absolute;
//  bottom: -($margin-m); left: 0;
//  width: 100%;
//  height: $margin-m;
//  border-bottom: dashed 1px $theme-color;
//  background: lighten( $theme-color, 90% );
//}
//.edit.wrapper.margin_2.margin--s:after {
//  bottom: -($margin-s); left: 0;
//  height: $margin-s;
//}
//.edit.wrapper.margin_2.margin--l:after {
//  bottom: -($margin-l); left: 0;
//  height: $margin-l;
//}

.edit.padding {
  background: $theme-color;
  width: 40px;
  height: 20px;
  z-index: 9999;
  border: solid 1px lighten( $theme-color, 85% );
}
.edit.padding .pimcore_tag_checkbox,
.edit.margin .pimcore_tag_checkbox {
  display: block;
  line-height: 20px;
  font-size: 0;
  height: 20px;
  text-align: center;
}

.edit.padding.padding_0 {
  position: absolute;
  top: 31px;
  left: 50%;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.edit.padding.padding_1 {
  position: absolute;
  width: 20px;
  height: 40px;
  right: 0px;
  top: 50%;
  margin-top: -20px;
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.edit.padding.padding_1 .pimcore_tag_checkbox {
  line-height: 40px;
  height: 40px;
}

.edit.padding.padding_2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -40px;
  border-radius: 5px 0 0 0;
  border-bottom: none;
}

.edit.padding.padding_3 {
  position: absolute;
  width: 20px;
  height: 40px;
  left: 0px;
  top: 50%;
  margin-top: -20px;
  border-radius: 0 5px 5px 0;
  border-left: none;
}
.edit.padding.padding_3 .pimcore_tag_checkbox {
  line-height: 40px;
  height: 40px;
}