.element--color {

  .vc-sketch {
    position: absolute;
    bottom: 0;
    background: $theme-color !important;
    max-width: 200px !important;
    box-sizing: border-box !important;
    width: 100% !important;
    box-shadow: none;
  }

  .vc-sketch-saturation-wrap {
    padding-bottom: 40%;
  }

  .vc-sketch-field .vc-input__label {
    color: #fff !important;
  }

  .vc-sketch-presets {
    display: none;
  }

  .vc-sketch-active-color {
    border-radius: 0;
  }

  .vc-alpha-picker,
  .vc-hue-picker {
    width: 8px;
    border-radius: 50%;
    height: 8px;
  }

  .vc-sketch-field .vc-input__input {
    width: 100%;
  }

  .app {
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }

}