.pimcore_tag_input,
.pimcore_tag_wysiwyg {
  background: $theme-input-color;
}

.pimcore_block_button_plus {
  z-index: 4;
}

.pimcore_area_buttons.top {
  width: 100vw !important;
}

.pimcore_area_hidden > div:not(.pimcore_area_buttons):not(.pimcore_area_edit_button) {
  //visibility: hidden;
  background: red;
  opacity: 0.5;
  filter: blur(3px);
  pointer-events: none;
}

.edit.wrapper .display_none {
  display: none;
}

//.wrapper.edit .edit.controlsPlaceholder,
//.wrapper.edit .edit.controls {
//  display: none;
//}
//.wrapper.edit:hover .edit.controlsPlaceholder,
//.wrapper.edit:hover .edit.controls {
//  display: block;
//}

.wrapper.edit .edit.controls,
.wrapper.edit > .edit,
.wrapper.edit > .app > .edit {
  opacity: 0.05;
  filter: blur(3px);
  //transition: all 100ms ease-in-out;
}
.wrapper.edit:hover .edit.controls,
.wrapper.edit:hover > .edit,
.wrapper.edit:hover > .app > .edit  {
  opacity: 1;
  filter: unset;
  //transition: all 100ms ease-in-out;
}

.edit input[type="checkbox"],
.edit input[type="radio"] {
  vertical-align: middle;
}

.edit.controls {
  background: $theme-color;
  border-bottom: solid 1px lighten( $theme-color, 85% );
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
  border-radius: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 30px;
}
.edit.controlsPlaceholder {
  position: relative;
  height: 32px;
}

.edit.controls .edit {
  display: inline-block;
  margin-right: 5px;
}
